#cont_expertise {
    background-color: #79f8f8;
    width: 100%;
}

/* MAIN */

#grid_1,
#grid_2 {
    margin-top: 5%;
}

#img_groupe {
    width: 80%;
    margin-top: 20%;
}

p{
    margin: 0;
}

/* Estimations */

#row_titre_estimation {
    width: 100%;
    font-size: 38px;

}

#row_estimation {
    width: 100%;
}

.rectangle {
    height: 100%;
    margin-top:20px;
}

.button_estimation {
    width: 70%;
    height: 100px;
    background-color: #442187;
    font-size: 25px;
}

/* Modaux */

.modal-content {
    background-color: #442187;
    color: white;
    font-family: "Righteous", cursive;
    font-size: 18px;
    padding: 10%;
}

.modal-dialog {
    max-width: 43%;
    margin-top: 13%;
}

/* Quelques chiffres */

#row_titre_chiffres {
    width: 100%;
    font-size: 38px;
}

#row_chiffres {
    width: 100%;
}

.cercle {
    clip-path: circle(30% at 50% 50%);
    background-color: #df2688;
    font-size: 25px;
    color: white;
    padding: 10%;
}

/* NAVBAR */



#header_logo_img {
    height: 60px;
    width: 60px;
  }

  .navbar {
    background-color: #f4f4f4;
    width: 100%;
    font-family: "Righteous", cursive;
  }

  a{
    font-family: "Bebas Neue";
    color:#442187;
  }

#img_search{
    width:30px;
}

#fleche_haut{
    width:30px;
}

/* FORMAT SMARTPHONE */
@media only screen and (max-width: 428px) {

    #ferraille,
    #camelote,
    #casse,
    #art,
    #tresor,
    #accessoires_VIP {
        display: none;
    }

    #img_groupe {
        margin-top: 3%;
    }

    .rectangle {
        height: 100%;
        margin:0;
    }
    #ferraille_art{
        margin-top:3%;
        font-size:35px;
    }
.circle{
    clip-path: circle(5% at 50% 50%);}

#row_chiffres{
    margin-bottom:40px;
}
}
/* FORMAT TABLETTE */
@media only screen and (min-width: 428px) and (max-width: 1000px) {

    #ferraille,
    #camelote,
    #casse,
    #oeuvre_art,
    #tresor,
    #accessoires_VIP {
        display: none;
    }

    #img_groupe {
        margin-top: 3%;}


#row_titre_estimation,
#row_titre_chiffres {
    font-size: 150%;
}

.button_estimation {
    font-size: 20px;
    width: 70%;
    height: 50%;
}

.cercle {
    font-size: 20px;
    clip-path: circle(30% at 50% 50%);}

#ferraille_art{
    margin-top:3%;
    font-size:35px;
}

#header_logo_img {
    height: 45px;
    width: 45px;
  }
}


/* ORDINATEUR */
@media only screen and (min-width: 1000px) {
    /* Grid gauche de l'image centrale */

    #grid_1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "Ferraille Ferraille"
            ". Camelote"
            "Casse Casse";
    }

    #ferraille {
        grid-area: Ferraille;
        font-size: 40px;
        padding: 10%;
    }

    #camelote {
        grid-area: Camelote;
        font-size: 30px;
    }

    #casse {
        grid-area: Casse;
        font-size: 23px;
    }

    /* Grid droite de l'image centrale */

    #grid_2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "Art Art"
            "Tresor ."
            "VIP VIP";
    }

    #oeuvre_art {
        grid-area: Art;
        font-size: 30px;
        padding: 10%;
    }

    #tresor {
        grid-area: Tresor;
        font-size: 40px;
    }

    #accessoires_VIP {
        grid-area: VIP;
    }

    #ferraille_art {
        display: none;
    }
}